@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Press Start 2P', 'IBM Plex Mono', monospace !important;
}

body {
  @apply bg-gray-900 !important;
}

.confetti .particle{
     opacity:0;
     position: absolute;
     animation: confetti 3s ease-in infinite;
}

.confetti .particle.c1 {
  background-color:#000;
}

.confetti .particle.c2 {
  background-color:#fb5d8d;
}

.confetti .particle.c3 {
  @apply bg-purple-800;
}

.confetti .particle.c4 {
  background-color: #f7d51d;
}

@keyframes confetti {
  0% {
     opacity:0;
     transform:translateY(0%) rotate(0deg);
  }
  10% {
     opacity:1;
  }
  35% {
     transform:translateY(-800%) rotate(270deg);
  }
  80% {
     opacity:1;
  }
  100% {
     opacity:0;
     transform:translateY(2000%) rotate(1440deg);
  }
}

@keyframes shine1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity:1;
  }
  75%{
    opacity:0.7;
  }
  100%{
    opacity:0.3;
  }
}

@keyframes shine2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.6;
  }
  50% {
    opacity:0.2;
  }
  75%{
    opacity:0.5;
  }
  100%{
    opacity:0.8;
  }
}

@keyframes shine3 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity:0,3;
  }
}

.ball {
  position: relative;
  display: inline-block;
  margin: 0.5em;

  white-space: nowrap;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none
}

.nes-badge.plus {
   width: 8em;
}

.nes-input.no-padding{
  padding: 0;
}

.nes-input.custom-padding{
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.nes-radio.pink:checked + span::before {
   color: #fb5d8d;
}

.nes-radio.pink:checked:focus + span::before {
   color: #fb5d8d;
 }

 @media (min-width: 1024px){
  .nes-container.custom-padding {
    padding: 1.5rem 2rem;
  }

  .nes-badge.wide {
    width: 20em;
  }

  .nes-badge.custom-font-size span{
    font-size: 14px;
  }
 }

 @media (max-width: 1023px){
  .nes-container.custom-padding {
    padding: 1.5rem 1rem;
  }
  .nes-badge.custom-font-size span{
    font-size: 12px;
  }
  .nes-badge.wide {
    width: 16em;
  }

 }

.animateOpacity {
 animation: shine2 1s infinite;
}


.nes-balloon.hint{
  position: absolute;
  display: flex;
  padding: 0.5rem;
}

.transition{
  opacity: 1;
  transition: 'opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms';
}