@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-family: 'Press Start 2P', 'IBM Plex Mono', monospace;
}

body {
  @apply bg-gray-900;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
